/BaseLayer.class
/ChatAppLayer$_CAPP_HEADER.class
/ChatAppLayer.class
/IPCDlg$setAddressListener.class
/IPCDlg.class
/LayerManager$_NODE.class
/LayerManager.class
/Receive_Thread.class
/SocketLayer.class
